
body{
    background: #1b1b1b;
    /* background-image: url("./1x/bg.png");
    background-repeat: no-repeat;
    background-size: 101%;
    background-attachment: fixed;
    background-position: -1px 0px; */
}

.pixi{
    background: #1616169c;
}

.icon{
    transition: 0.5s;
}

.icon:hover{
    transform: rotate(5deg);
}